.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select, .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.fs-4 {
    font-size: 19.5px !important;
}
.form-control {
    border-radius: 20px;
}
.btn-group-lg>.btn, .btn-lg {
    --bs-btn-border-radius: 20px;
}