/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    transition: 0.3s;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar  {
    font-size: 5px;
}

.navbar .toggle-button {
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    background: none;
    border: none;
}

.toggle-button {
    color: #000000;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    outline: none;
}



.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right i {
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* Container Layout */
.container {
    display: flex;
    height: 100vh;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* Sidebar Styling */
.sidebar {
    width: 70px; /* Width saat tertutup */
    height: 900px;
    background-color: #d5f5f8;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s;
    position: fixed;
}

.sidebar.expanded {
    width: 270px; /* Width saat terbuka */
    
}

/* Logo Section */
.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.logokjr{
    width: 150px;
}

.menu {
    list-style-type: none;
}
 
.menu li {
    font-size: 16px;
    padding: 15px 40px;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
    color: black;
    font-weight: 600;    
}

span{
    margin-left: 20px;
}
.menu li:hover {
    background-color: #B1E8F0;
}

/* Icon Styling */
.container i {
    font-size: 20px;
}

/* Main Content Styling */
.main-content {
    flex-grow: 1;
    padding: 15px;
    padding-top: 80px; 
}

/* Ubah ukuran logo saat sidebar ditutup */
.sidebar:not(.expanded) .logokjr {
    width: 100%; /* Ukuran logo saat sidebar ditutup */
    height: 30px;
    margin-top: -5px;
    margin-bottom: 10px;
    content: url('Bahan/kejardosen-logo-initial.png');
    
}
.sidebar.expanded .logokjr {
    content: url('Bahan/logokjrdns.png'); /* Logo saat sidebar terbuka */
    width: 150px;
    height: auto;
}

/* Hide text when sidebar is closed */
.sidebar:not(.expanded) .menu-text {
    display: none;
}

/* Styling Class BOX */

.box{
    width: 700px;
    height: 250px;
    background-color: #B1E8F0;
    background-image: linear-gradient(to bottom left, #B1E8F0, #EFFAFE);
    box-sizing: border-box;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.h1{
    font-size: 20px;
    margin-bottom: -5px;
    
}
.h2{
    font-size: 25px;
    margin-bottom: 5px;
    
}
.h3{
    font-size: 15px;
    font-weight: 400;
    
}
.box a{
    
    color: white;
    text-decoration: none;
    
}
.button{
    background-color: #1f819b;
    width: 180px;
    height: 45px;
    
    align-items: center;
    border-radius: 10px;
    display: flex;
    margin-top: 20px;
}
.button img{
    width: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
}
a{
    margin-top: 0px;
    margin-left: 25px;
}
.gambar{
    height: 210px;
    display: block;
    top: 90px;
    right: 0px;
    padding: 7px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
    width: 100px;
}

.box1{
    width: 700px;
    height: 180px;
    background-color: white;
    box-sizing: border-box;
    
    border-radius: 15px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.247);
    padding: 20px;
    margin-top: 10px;
    padding-left: 27px;
    
}

.box2{
    width: 330px;
    height: 100px;
    background-color: white;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.247);
    display: flex;
    margin-top: 10px;
    justify-content: space-between; 
    margin-left: 0px;
}
.box3{
    width: 330px;
    height: 100px;
    background-color: white;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.247);
    display: flex;
    margin-top: 10px;
    justify-content: space-between; 
    margin-left: 40px;
    
}

.kotak2 .h1{
    font-size: 20px;
    margin-bottom: -4px;
}
.kotak2 .h2{
    font-size: 15px;
    width: 1000px;  
}
.kotak3 .h1{
    font-size: 20px;
    margin-bottom: -4px;
}
.kotak3 .h2{
    font-size: 15px;
    width: 1000px;  
}
.graduation{
    width: 70px;
    height: 70px;
    background-color: #3EBCD2;
    padding: 10px;
    justify-content: flex-start;
    justify-content: space-between;
    border-radius: 15px;
}

.kotak2{
    
    margin-right: 200px;
    margin-top: -10px;
    margin-left: 10px;
    
    padding: 10px;
}
.kotak3{
    margin-right: 200px;
    margin-top: -10px;
    margin-left: 10px;
    padding: 10px;
}

.kotak{

    width: 900px;
    height: 300px;
    flex: auto;
    display: flex;
   flex-wrap: wrap;
    
}
html, body {
    height: 100%;
    overflow-x: hidden;
}

.keren{
    display: flex;
}
.Jadwal-Dosen{
    width: 900px;
    background-color: white;
    font-size: 8px;
    margin-left: 12px;
    
}

.kotak2 .fi{
  width: 400px;
}

.kotak1{
    margin-right: 200px;
    margin-top: 2px;
    margin-left: 10px;
    display: flex;
   
    
}

.jadwal{
    display: flex;
    margin-top: 20px;
        


   

}
.jadwal .text{
    width: 90px;
    text-decoration: none;
    height: 80px;
    text-align: center;
    background-color: #3EBCD2;
    margin-left: 10px;
    color: white;
    padding-top: 20px;
    border-radius: 15px;
    font-size: 15px;
    justify-content: space-between;
    flex:auto
}



.container-fluid{
    
     /* Mengatur elemen agar berurutan */
    align-items: center;
    height: 100vh;
    display: flex;
    
}
.container-kedua{
   
    margin-left: 10px;
    width: 1000px;
    height: 700px;
}
.kolom{
    
    
    width: 700px;
    margin-top: -91px;
}
.kolom2{
    
    
    width: 300px;
    height:550px;
    
    margin-top: -91px;
   
}
.teksjadwal1 h1{
    font-size: 20px;
}
.teksjadwal1{
    margin-left: 20px;
}
.profil{
    margin-left:20px ;
    background-image: linear-gradient(to top left, #B1E8F0, #EFFAFE);
    width: 330px;
    height: 214px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.247);
    justify-content: space-between;
    
    
}

.profil img{
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

.info .line1{
    display: flex;
    justify-content: space-between;
    width: 167px;
    font-size: 15px;
    display: flex;
    margin-top: 5px;
}
.info .line2{
    display: flex;
    justify-content: space-between;
    width: 105px;
    font-size: 15px;
    display: flex;
    margin-top: 1px;
}
.info{
    margin-left: 10px;
    justify-content: space-between;
   
}
.garis1{
    display: flex;
    align-items: center;
    
}
.ruangan{
    display: flex;
    
}
 .lokasi{
    margin-left: 171px; 
}
.lokasionline{
    margin-left: 40px;
}
.ruangan p{
    font-weight: 400;
}
.garis2{
    margin-top: 5px;
    
}
.garis2 p{
    margin-top: 1px;
    font-size: 13px ;
}
.garis2 .tempat{
    margin-left: 5px;
}
.tanggal{
    display: flex;
    margin-top: 8px;
}
.lokasi2{
    margin-left:105px;
}
.lokasi3{
    margin-left: 123px;
}
.kode{
    display: flex;
    margin-top: 8px;
}
.kalender{
    display: flex;
}

#calendar {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    
    
  }
.js-calender{
    overflow: hidden;
}
